:root{
    --cor-de-fundo: #000000;
    --branco: #ffffff;
    --vermelho: #A91D3A;
    --botao:  #7c1228;
}

@font-face {
  font-family: 'KungFuMaster';
  src: url('fonts/fonte_kungfumaster.woff2') format('woff2'),
       url('fonts/fonte_kungfumaster.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    display: flex;
    flex-direction: column;
}

/* CABEÇALHO */

.header{
    display: flex;
    align-items: center;
    padding: 1em;
    padding-left: 8rem;
    background-color: var(--branco);
}

.header__logo{
    width: auto;
    max-width: 150px;
}

.header__image{
    width: 80%;
    height: auto;
    display: block;
}

.content__carousel-text{
    font-family: "Raleway", sans-serif;
    position: absolute;
    top: 3%;
    left: 10%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000000;
}

.content__carousel-text-text{
    max-width: 300px;
    text-align: center;
    font-weight: 500;
}

.header__navigation{
    display: flex;
    gap: 35px; 
}

.header__elements{
    font-family: "Raleway", sans-serif;
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header__link {
  text-decoration: none;
  color: var(--cor-de-fundo);
  font-weight: 500;
  font-size: 32px;
  position: relative;
  transition: color 0.3s ease;
}

.header__link::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: var(--vermelho); 
    transition: width 0.3s ease;
}

.header__link:hover{
  color: var(--vermelho);
}


.header__link:hover::after {
  width: 100%;
}

.header__icons{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 7rem; 
}

.header__icons-icons {
    width: 32px;
    height: 32px;
}

.header__icons-icons img:hover {
  transform: scale(1.05);
}

/* CORPO */

.content__carousel{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content__carousel-tittle{
    position: absolute;
    color: var(--cor-de-fundo);
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content__carousel-tittle1{
  font-family: "KungFuMaster", sans-serif;
  font-size: 3.4rem;
  font-weight: 200;
  margin: 0;
  line-height: 0.5;
}

.content__carousel-tittle2{
  font-family: "KungFuMaster", sans-serif;
  font-weight: 400;
  font-size: 7.86rem;
  text-align: center;
  margin: 0;
  line-height: 1;
}

.content__card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__card-text{
    font-family: "KungFuMaster", sans-serif;
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 150px;
    font-weight: 500;
    margin: 0;
    line-height: 10rem;
}

.content__card-button{
    padding-top: 5rem;
    position: absolute;
    top: 205%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content__card-button-button{
    font-family: "KungFuMaster", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: var(--branco);
    background-color: var(--vermelho);
    border: none;
    padding: 0.8rem 2em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.content__card-button-button:hover{
  background-color: var(--botao);
  transform: scale(1.05);
}

.body__image1{
    max-width: 100%;
    height: auto;
    display: block;
}

.body__image2{
    max-width: 100%;
    height: auto;
    display: block;
}

/* RODAPÉ */

.footer{
    background-color: var(--cor-de-fundo);
    padding: 1em;
    margin-top: auto;
}

.footer__element {
  position: relative;
  width: 100%;
}

.footer__image {
  width: 100%;
  height: auto;
  display: block;
}

/* RODAPÉ ENDEREÇO */
.footer__address{
    position: absolute;
    bottom: 30px;
    left: 30px;
    padding-left: 40px;
    border-radius: 10px;
    color: white;
    max-width: 400px;
}

.footer__address-tittle{
    font-family: 'KungFuMaster', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 32px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.footer__address-icon{
    width: 26px;
    height: 26px;
    margin-right: 10px;
    filter: brightness(0) invert(1);
}

.footer__address-map {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  display: block;
}


/* RODAPÉ CAIXA CONTATOS */

.footer__contact-box {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color:rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  color: white;
  max-width: 400px;
}

.footer__contact-title {
  font-family: 'KungFuMaster', sans-serif;
  font-size: 32px;
  font-weight: 200;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.footer__contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__contact-item {
  font-family: 'KungFuMaster', sans-serif;
  font-weight: 200;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.footer__icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  filter: brightness(0) invert(1);
}